@import "lib/vars";
@import "lib/functions";
@import "flex";
@import "footer";
@import "image";
@import "main";
@import "markup";

.App {
  text-align: center;
}

.logo {
  width: 10rem;
  text-align: left;
}

body {
  background-color: rgb(32, 31, 35);
  font-size: 16px;
  color: white;
}

header {
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.yearn-blue {
  color: rgb(6, 87, 249);
}

.blue-pill-blue {
  color: rgb(78, 105, 169);
}

.blue-pill-black {
  color: rgb(32, 31, 35);
}

a {
  color: rgb(230, 230, 230);
  margin-right: 1rem;
  text-decoration: none;
}

